.win-screen__poop-rain {
  span {
    z-index: 100;
    position: fixed;
    animation: pop-rain linear infinite;
    top: -200px;
  }
}

@keyframes pop-rain {
  from {
    top: -200px;
  }
  to {
    top: 100vh;
  }
}
