@import 'src/styles/style.scss';

.alternative {
	button {
		min-height: 50px;
		&.incorrect.selected {
			animation-name: bg-color-pulse-incorrect;
		}
		&.correct:not(.selected) {
			animation-name: bg-color-pulse-correct;
		}
		&.correct.selected {
			background-color: $success;
		}

		animation-duration: 10s;
		animation-iteration-count: infinite;

		&.alternative--image {
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			background-origin: border-box
		}
	}
}

@keyframes bg-color-pulse-incorrect {
	0% {
		background-color: $danger;
	}
	100% {
		background-color: $danger-dark;
	}
}

@keyframes bg-color-pulse-correct {
	0% {
		background-color: $success;
	}
	100% {
		background-color: $success-dark;
	}
}
