.limit-break {
  height: 18px;
  max-width: 100%;
  border-radius: 4px;
  &--charging {
    background-image: linear-gradient(
      to right,
      cornflowerblue,
      blueviolet,
      lightblue,
      darkblue
    );
    transition: 0.4s linear;
    transition-property: width;
  }
  &--charged {
    background-image: linear-gradient(
      to right,
      green,
      turquoise,
      blue,
      lightblue,
      purple,
      red
    );
    transition: 0.4s linear;
    transition-property: width, background-color;
  }
  &--decharge {
    background-image: linear-gradient(to right, lightgrey, grey, darkgrey);
    transition: 0.4s linear;
    transition-property: width, background-color;
  }
}

@keyframes chargingAnimation {
  0% {
    background-image: linear-gradient(
      to right,
      cornflowerblue,
      blueviolet,
      lightblue,
      darkblue
    );
  }
  25% {
    background-image: linear-gradient(
      to right,
      darkblue,
      cornflowerblue,
      blueviolet,
      lightblue
    );
  }
  50% {
    background-image: linear-gradient(
      to right,
      lightblue,
      darkblue,
      cornflowerblue,
      blueviolet
    );
  }
  75% {
    background-image: linear-gradient(
      to right,
      blueviolet,
      lightblue,
      darkblue,
      cornflowerblue
    );
  }
}

@keyframes chargedAnimation {
  0% {
    background-image: linear-gradient(
      to right,
      green,
      turquoise,
      blue,
      lightblue,
      purple,
      red
    );
  }
  20% {
    background-image: linear-gradient(
      to right,
      turquoise,
      blue,
      lightblue,
      purple,
      red,
      green
    );
  }
  40% {
    background-image: linear-gradient(
      to right,
      blue,
      lightblue,
      purple,
      red,
      green,
      turquoise
    );
  }
  60% {
    background-image: linear-gradient(
      to right,
      lightblue,
      purple,
      red,
      green,
      turquoise,
      blue
    );
  }
  80% {
    background-image: linear-gradient(
      to right,
      purple,
      red,
      green,
      turquoise,
      blue,
      lightblue
    );
  }
  100% {
    background-image: linear-gradient(
      to right,
      red,
      green,
      turquoise,
      blue,
      lightblue,
      purple
    );
  }
}
