.multiplayer__scoreboard__score-wrapper {
  width: 2em;
  height: 2em;
  line-height: 2em;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  font-size: 2em;
}

.multiplayer__scoreboard__score-wrapper__score {
  position: relative;
  transition: top;
  transition-duration: 1s;
}

.multiplayer__scoreboard__score-wrapper__score:nth-child(1) {
  animation: spinit 0.1s 3;
}

.multiplayer__scoreboard__score-wrapper__score:nth-child(2) {
  animation: spinit 0.3s 3;
}

@keyframes spinit {
  0% {
    top: 0em;
  }
  50% {
    top: -5em;
  }
  100% {
    top: -9em;
  }
}

.multiplayer__poop-rain {
  z-index: 100;
  span {
    position: absolute;
    top: -200px;
    animation: pop-rain linear infinite;
  }
}

@keyframes pop-rain {
  from {
    top: -200px;
  }
  to {
    top: 100vh;
  }
}
