@import 'src/styles/style.scss';

.about {
  max-height: calc(
    100vh - #{$header-height} - #{$footer-height} - #{2 * $body-padding}
  );
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  @media (min-width: 640px) {
    overflow: hidden;
    margin: -1.5rem;
  }
}

@media (min-width: 640px) {
  .about:before {
    content: '';
    position: absolute;
    background: $gray-darkest;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    vertical-align: top;
    animation: fadein 12s ease-in;
  }
}

.about__textWrapper {
  max-width: 500px;
  background: $white;
  z-index: 2;

  @media (min-width: 640px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
  }
}

.about__video {
  width: 100vw;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;

  @media (max-width: 640px) {
    display: none;
  }
}
