@import 'src/styles/style.scss';

.nerd-face {
  transform: rotate(20deg);
}

.tutorial-text-wrapper {
  background-color: rgba(211, 209, 208, 0.5);
}

.thinking-face {
  transform: rotate(-15deg);
  left: -20px;
}

.arm {
  right: 0;
  top: 0;
  transform: rotate(45deg);
}

.landing-page__video-wrapper {
  clip-path: url(#clipPath);
  -webkit-clip-path: url(#clipPath);
  min-height: 184px;
}
.landing-page__video {
  animation: fadein 3s;
  min-height: 184px;
  background-color: $brand;
}
